 <head>
  <title>
    <%= content_for?(:title) ? yield(:title) : "Kickoff Tailwind" %>
  </title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag STRIPE_JS_HOST %>
  

  <%= stylesheet_link_tag  'application', "actiontext", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "application", defer: true %>
  <%= javascript_tag do %>
      const stripe = Stripe('pk_test_51MFiECLvYRZIDHzek414xltB9SfVDcmdeR295aUdlxDgo4WqNSQUt6hzvg42xyRQgpsqcIc2Kxoq6QQWYdhpB5sn00YtzP2ZGR')
  <% end %>




</head>
